html {
    background-color: #324150;
    }

body {
    background-color: #324150;
    }

.logo {
    text-align: center;
    margin-top: 100px;
    font-family: Helvetica, Arial, sans-serif, sans;
    font-weight: bold;
    font-size: 20pt;
    color: #647382;
    }


